# Python
__pycache__/
venv/

# Node.js
node_modules/
dist/
.mastra/
.playwright-mcp/

# Env
.env

# GCP credentials
*.json
!package.json
!package-lock.json
!app/**/prompt/**/*.json

# OS
**/.DS_Store

# IDE
.idea/

# Assets
app/assets
