boto3==1.40.7
botocore==1.40.7
dependency_injector==4.41.0
fastapi==0.119.1
opencv_python==4.12.0.88
opencv_python_headless==4.12.0.88
prometheus_fastapi_instrumentator==7.1.0
pydantic==2.12.3
pysrt==1.1.2
python-dotenv==1.1.1
Requests==2.32.5
